html, body {
	margin: 0px;
	padding: 0px;
	color: #6A3C35;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	background-color: #e9e6e6;
	background-repeat: repeat-x;
	background-position: top;
}

a, a:visited {
	color: #6A3C35;
}

h1, h2, h3, h4, nav {
	text-align: center;
	margin: 0;
	padding: 0;
}

#main_header {
	display: flex;
	/*min-height: 100vh;*/
	background-color: #EB814A;
}

.text_right {
	text-align: end;
}

.text_center {
	text-align: center;
}

.it_bold {
	font-style: italic;
	font-weight: 600;
}

.wh_bold {
	font-weight: 600;
	color: #6A3C35;
}

.wrapper_main {
	display: grid;
	grid-gap: 15px;
	grid-template-areas:  "h1 h1 h1"
												"logo h2 tel1"
												"logo h2 tel2"
												"logo text text";
	grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
	margin: auto;
	padding: 0 15vmax;
	padding-top: 10%;
	font-size: 20px;
}

.wrapper_main p {
	padding: 0;
}

.logo {
	grid-area: logo;
}

.logo img {
	width: 100%;
}

.h1 {
	grid-area: h1;
	font-size: 30px;
}

.h2 {
	grid-area: h2;
	font-size: 26px;
}

.tel1 {
	grid-area: tel1;
	justify-self: end;
}

.tel2 {
	grid-area: tel2;
	justify-self: end;
}

.tel1,
.tel2 {
	color: rgb(22, 94, 8);
}

.text {
	grid-area: text;
	font-size: 18px;
}

@media screen and (max-width:1092px) {
	.wrapper_main {
		grid-template-areas: 	"h1 h1"
													". h2"
													"logo tel1"
													"logo tel2"
													"logo text";
		grid-template-rows: auto 2fr 1fr 1fr auto;
		grid-template-columns: minmax(250px, 1fr) minmax(350px, 2fr);
		padding: 0 5vmax;
	}

	.h1 {
		font-size: 2.8vmax;
	}

	.h2 {
		font-size: 1.8vmax;
	}
}

@media screen and (max-width:752px) {
	.wrapper_main {
		grid-template-areas: 	"h1 h1"
													"logo h2"
													"logo tel1"
													"logo tel2"
													"text text";
		grid-template-rows: auto 1fr 1fr 1fr auto;
		grid-template-columns: minmax(auto, 1fr) minmax(250px, 2fr);
		padding: 0 3vmax;
	}

	.h1 {
		font-size: 20px;
	}

	.h2 {
		font-size: 18px;
	}
}

@media screen and (max-width: 568px) {
	.wrapper_main {
		grid-template-areas: 	"h1"
													"h2"
													"logo"
													"tel1"
													"tel2"
													"text";
		grid-template-rows: repeat(6, auto);
		grid-template-columns: minmax(330px, 1fr);
		padding: 0 10px;
	}
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: #CCA388;
}

nav a {
	flex-grow: 1;
	padding: 15px 15px;
	font: bold 18px sans-serif;
}

nav a:hover {
	background-color: #FDFDFC;
}

@media screen and (max-width: 992px) {
	nav a {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 568px) {
	nav a {
		width: calc(100% - 30px);
	}
}

#models {
	background-color: #FDFDFC;
}

.grand_block {
	padding: 5% 2%;
}

.grand_block__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 2px solid #6A3C35;
}

.grand_block__header-item {
	padding: 2% 5%;
}

.grand_block__main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.grand_block__main-left {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-width: 230px;
	flex-basis: 36%;
	flex-grow: 1;
	padding: 2%;
}

.grand_block__main-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 56%;
	flex-grow: 1;
	padding: 2%;
}

.grand_block__main-right button {
	width: auto;
	margin: 0;
	align-self: flex-end;
}

.grand_block__main-right button a {
	color: #6A3C35;
}

.wrapper_nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.wrapper_nav a {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	font-size: 20px;
}

.wrapper_nav a:hover {
	opacity: .7;
}

.wrapper_nav-img {
	max-width: 200px;
	margin-top: 15px;
}

.wrapper_img,
.wrapper_img img,
.wrapper_nav-img img {
	width: 100%;
}

.wrapper_img img {
	max-width: 100vmin;
}

.wrapper_price {
	width: 100%;
}

.wrapper_price h3 {
	padding: 5px;
	border: 2px solid #6A3C35;
}

.wrapper_price li {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	line-height: 1.7rem;
	letter-spacing: .04rem;
}

.rank {
	word-spacing: -2px;
	white-space: nowrap;
}

.btn {
	margin: 0 auto;
	width: 100%;
	height: 30px;
	border: none;
	background: #CCA388;
}

.btn a {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FDFDFC;
}

.btn_video {
	margin-top: 3%;
	margin-bottom: 3%;
}

.btn_video a[type="video/mp4"] {
	background: url(images/video.png) no-repeat 0 2px;
	padding-left: 20px;
	font-size: 17px;
	color: #6A3C35;
}

@media screen and (max-width: 390px) {
	.btn_additions a {
		font-size: 14px;
	}
}

.add_order {
	margin: 0 auto;
	font-size: 18px;
}

.additions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.additions li {
	margin: 4px 15px;
	width: calc(33.3333% - 30px);
}

@media screen and (max-width: 1200px) {
	.additions li {
		width: calc(50% - 30px);
	}
}

@media screen and (max-width: 865px) {
	.additions {
		flex-direction: column;
		align-content: center;
	}

	.additions li {
		flex: 1 1 auto;
		width: auto;
		box-sizing: border-box;
	}
}

.img_normal {
	max-width: 200px;
}

.img_center {
	margin: 0 auto;
}

.lazy {
	margin: 0 15px;
}

.carousel {
	padding: 0 3%;
	width: 100%;
	box-sizing: border-box;
}

.popup_img {
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #e9e6e6;
	overflow: hidden;
}

.close::after {
	content: "X";
	font-size: 1.5rem;
	color: #6A3C35;
	position: absolute;
	top: 3%;
}

button.route {
	flex-basis: 10%;
	font-size: 6vmin;
	font-weight: 700;
	color: #6A3C35;
}

.noshow {
	display: none;
}

.no_overflow {
	overflow: hidden;
}

.map {
	padding: 0 5%;
}

a {
  text-decoration: none;
}

a:hover {
	color: gray;
	opacity: .7;
}

li:hover {
	background-color: #CCA388;
}

p, ul, address {
	padding: 0 5%;
}

#arrangement li {
	margin: 0 2%;
}

#arrangement li:hover {
	background-color: transparent;
}

#contacts address {
	font-style: normal;
}

#design {
	font-size: 12px;
}