body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-color: #e9e6e6;
	background-repeat: repeat-x;
	background-position: top;
}

#main_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
	min-height: 50vh;
	background-color: aqua;
}

#models {
	background-color: bisque;
}

.grand_block {
	width: 100%;
}

.wrapper_nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.wrapper_nav a {
	display: flex;
	flex-direction: column;
	flex-grow: 0 0 0;
	align-items: center;
	justify-content: center;
}

.wrapper_img {
	min-width: 200px;
	max-width: 330px;
}

.wrapper_img img {
	width: 100%;
}

h1, h2, h3, h4, nav {
  text-align: center;
}

a {
  text-decoration: none;
}

p, ul {
	padding: 0 5%;
}